### Feature Engineering

In [9]:
import pandas as pd
import sys
sys.path.insert(0, '/10 A KAI 2/Week6/Credit_Scoring/')

In [10]:
from Script.Feature_engi import Feature_Engineering

In [11]:
df = pd.read_csv('../Data/data.csv')

In [12]:
fut_eng = Feature_Engineering(df)

### Remove unneccery columns

In [13]:
attrib=['BatchId',  'SubscriptionId', 'CurrencyCode', 'CountryCode', 'ProductId']
fut_eng.remove_some_cols(attrib)

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,AccountId_3957,CustomerId_4406,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,AccountId_4841,CustomerId_4406,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,AccountId_4229,CustomerId_4683,ProviderId_6,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,AccountId_648,CustomerId_988,ProviderId_1,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,AccountId_4841,CustomerId_988,ProviderId_4,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,ProviderId_4,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,ProviderId_6,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,ProviderId_4,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

#### Aggregate Credit and Debit transaction amount in the customer label 
1. **Total Credit Amount**: Summed the values in the Credit column to determine the total credit transactions for each customer.
2. **Total Debit Amount**: Summed the values in the Debit column to determine the total debit transactions for each customer.
3. **Average Transaction Amount**: Calculated the mean of the Value column, which represents the average transaction value for each customer.
4.  **Transaction Count**: Counted the number of transactions per CustomerId using the TransactionId column.
5.  **Total Unique Account Count**: Counted the unique accounts associated with each customer using the AccountId column.
6.  **Standard Deviation of Transaction Amount**: Computed the standard deviation of the Amount column to assess the variability of transaction amounts. The ddof=0 parameter ensures a population standard deviation is calculated, and if there are fewer than two entries, NaN is replaced with zero.

In [6]:
fut_eng.feature_engineering_transaction()

,CustomerId,Total_Credit_Amount,Total_Debit_Amount,Average_Transaction_Amount,Transaction_Count,Total_Unique_Account_Count,distinct_product_categories,Standard_Deviation_Transaction_Amount
0,CustomerId_1,0.0,10000.0,10000.000000,1,1,1,0.000000
1,CustomerId_10,0.0,10000.0,10000.000000,1,1,1,0.000000
2,CustomerId_1001,25200.0,5200.0,6080.000000,5,2,2,5866.515150
3,CustomerId_1002,4500.0,275.0,434.090909,11,2,2,534.414795
4,CustomerId_1003,26000.0,6000.0,5333.333333,6,3,2,5505.048188
...,...,...,...,...,...,...,...,...
3737,CustomerId_992,26000.0,6000.0,5333.333333,6,3,2,5557.777334
3738,CustomerId_993,26000.0,6000.0,6400.000000,5,3,2,6033.241252
3739,CustomerId_994,578000.0,34127.0,6079.970297,101,2,3,14727.203940
3740,CustomerId_996,145000.0,6000.0,8882.352941,17,3,2,4300.961508
3741,CustomerId_998,131500.0,31500.0,7409.090909,22,3,2,6619.374268

##### The above result shows the aggrigation by customer. totally we have 3742 customer.

In [7]:
df

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

#### Extract Transaction day, year,  month and Hour fron trsnsaction date

In [14]:
fut_eng.extract_transaction_features()

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,AccountId_3957,CustomerId_4406,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,2,15,11,2018
1,TransactionId_73770,AccountId_4841,CustomerId_4406,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08+00:00,2,0,2,15,11,2018
2,TransactionId_26203,AccountId_4229,CustomerId_4683,ProviderId_6,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2,0,2,15,11,2018
3,TransactionId_380,AccountId_648,CustomerId_988,ProviderId_1,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,3,15,11,2018
4,TransactionId_28195,AccountId_4841,CustomerId_988,ProviderId_4,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21+00:00,2,0,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,ProviderId_4,financial_services,ChannelId_2,-1000.0,1000,2019-02-13 09:54:09+00:00,2,0,9,13,2,2019
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2019-02-13 09:54:25+00:00,2,0,9,13,2,2019
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2019-02-13 09:54:35+00:00,2,0,9,13,2,2019
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,ProviderId_6,tv,ChannelId_3,3000.0,3000,2019-02-13 10:01:10+00:00,2,0,10,13,2,2019
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,ProviderId_4,financial_services,ChannelId_2,-60.0,60,2019-02-13 10:01:28+00:00,2,0,10,13,2,2019

#### Label encoding for column ProductCategory, ProviderId and ChannelId

In [15]:
column = ['ProductCategory',  'ChannelId', 'ProviderId']
fut_eng.label_encoding_selected_attribute(column)

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,AccountId_3957,CustomerId_4406,5,0,2,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,2,15,11,2018
1,TransactionId_73770,AccountId_4841,CustomerId_4406,3,2,1,-20.0,20,2018-11-15 02:19:08+00:00,2,0,2,15,11,2018
2,TransactionId_26203,AccountId_4229,CustomerId_4683,5,0,2,500.0,500,2018-11-15 02:44:21+00:00,2,0,2,15,11,2018
3,TransactionId_380,AccountId_648,CustomerId_988,0,8,2,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,3,15,11,2018
4,TransactionId_28195,AccountId_4841,CustomerId_988,3,2,1,-644.0,644,2018-11-15 03:34:21+00:00,2,0,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,3,2,1,-1000.0,1000,2019-02-13 09:54:09+00:00,2,0,9,13,2,2019
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,5,0,2,1000.0,1000,2019-02-13 09:54:25+00:00,2,0,9,13,2,2019
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,3,2,1,-20.0,20,2019-02-13 09:54:35+00:00,2,0,9,13,2,2019
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,5,7,2,3000.0,3000,2019-02-13 10:01:10+00:00,2,0,10,13,2,2019
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,3,2,1,-60.0,60,2019-02-13 10:01:28+00:00,2,0,10,13,2,2019